.section-task-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-details {
  background-color: var(--color-3);
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.task-details h1 {
  color: var(--color-1);
}

.task-details p {
  color: white;
  margin-top: 10px;
}